# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master, ref/heads/tc-tiger]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  setup:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v2

      - name: Login to GitHub Package Registry
        run: echo "$GITHUB_TOKEN" | docker login docker.pkg.github.com -u "${{ github.actor }}" --password-stdin

      - name: Run the default code
        run: docker run --mount type=bind,source="$(pwd)",target=/project docker.pkg.github.com/et7f3/arch-toolchain/arch-epita:latest
        
 
    
